/* 标题 */
.body_title{height: 80px;background: #33302e;}
.body_title ul li{float: left;margin-left: 10px;margin-right: 10px;}
.body_title ul li p{padding: 0 10px;text-align: center;}
.body_title ul li .item_title{color:#fff;line-height: 20px;height: 20px;margin-top: 20px;font-size: 14px;}
.body_title ul li .item-content{color:#ebb67e;text-align: center;height: 20px;line-height: 20px;text-align: center;font-size: 14px;}