/* 头部 */
.top{height: 100px;background: #403d3a;color: #ebb67e;line-height: 100px;font-size: 0px}
.top .title{float: left;margin-left: 50px;font-size: 28px;}
.top .container .left{float: left;}
.top .container .right{float:right;}
.top .container .left ul {float: left;}
.top .container .left ul li{float: left;}
.top .container .left ul li img{width: 48px;height:48px;cursor: pointer;}
.top .container .left ul li a{color: #ccc;display: inline-block;margin-left: 10px;font-size: 26px;vertical-align: middle;margin-right: 36px;}
.top .container .left ul .active a{color:#ebb67e }
.top .container .left ul li a:hover{color: #fff;}
.top .container .right input{width: 370px;height: 35px;border-radius: 15px;background: url(../img/search.png) 330px center/20px 20px no-repeat;padding-left: 20px;outline: none;border: 1px solid #fff;color: #fff;}
.top .container .right a{display: inline-block;margin-left: 20px;}
